<li>
	<a href="<%= locale[:url] %>">
		<div class="locale-name">
			<em style="width: <%= locale[:completion] %>%"></em>
			<strong><%= locale[:name] %></strong>
		</div>
		<div class="locale-completion"><%= ((locale[:completion] * 10.0).floor / 10.0) %>%</div>
	</a>
</li>