<%= inject_css! 'email-example' %>
<div class="lingua-franca-email-content">
	<h3 id="lingua-tranca-title"></h3>
	<h4 id="lingua-tranca-from"></h4>
	<h4 id="lingua-tranca-to"></h4>
	<%= content.html_safe %>
</div>
